In [1]:
import datetime as dt
import numpy as np
from data_wrangling import *
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 150)

In [2]:
%%time
features = ['fullVisitorId', 'date', 'device_browser','paying_visits', 'totals_transactionRevenue']
trainCSV = pd.read_csv('train_v2_flat.csv', sep=',', encoding='utf-8', low_memory=False).drop(columns=['trafficSource_campaignCode'])
trainCSV = fill_empty_values(trainCSV)
trainCSV = trainCSV[features]

start_train_visits = trainCSV.date.min()
end_train_visits = start_train_visits + timedelta(days=276) ## we just test one period.
train_visits = trainCSV[(trainCSV.date >= start_train_visits) & (trainCSV.date<end_train_visits)]

CPU times: user 43.1 s, sys: 4.02 s, total: 47.1 s
Wall time: 47.1 s

In [3]:
train_visits.shape

(708076, 5)

In [4]:
train_visits.head()

,fullVisitorId,date,device_browser,paying_visits,totals_transactionRevenue
2989,9499785259412240342,2016-09-02 10:31:12,Firefox,0.0,0.0
2990,3696906537737368442,2016-09-02 22:54:34,Chrome,0.0,0.0
2991,5688512451361930466,2016-09-02 10:18:44,Chrome,0.0,0.0
2992,9716453263501147451,2016-09-02 13:38:28,Safari,0.0,0.0
2993,5330453591145100432,2016-09-02 18:06:59,Chrome,0.0,0.0

In [5]:
print "start_train_visits = ", train_visits.date.min()
print "end_train_visits = ", train_visits.date.max()

start_train_visits =  2016-08-01 07:00:12
end_train_visits =  2017-05-04 06:59:57

In [6]:
train_visits.paying_visits.value_counts()

0.0    699481
1.0      8595
Name: paying_visits, dtype: int64

In [7]:
train_visits.totals_transactionRevenue.value_counts().head()

0.0           699481
16990000.0       214
18990000.0       153
44790000.0       148
33590000.0       148
Name: totals_transactionRevenue, dtype: int64

In [8]:
train_visits[train_visits.paying_visits==1].head()

,fullVisitorId,date,device_browser,paying_visits,totals_transactionRevenue
4331,6194193421514403509,2016-09-02 19:12:52,Chrome,1.0,37860000.0
4340,5327166854580374902,2016-09-02 19:35:06,Chrome,1.0,306670000.0
4382,8885051388942907862,2016-09-02 14:43:13,Chrome,1.0,68030000.0
4386,0185467632009737931,2016-09-02 19:59:58,Chrome,1.0,26250000.0
4444,3244885836845029978,2016-09-02 14:00:17,Chrome,1.0,574150000.0

In [9]:
%%time
train = get_training_data_from_visits(train_visits)

CPU times: user 4.71 s, sys: 237 ms, total: 4.95 s
Wall time: 5 s

In [10]:
train.shape

(377131, 15)

In [11]:
train.head()

,fullVisitorId,device_browser,paying_visits_last_1_months,totals_transactionRevenue_last_1_months,paying_visits_last_3_months,totals_transactionRevenue_last_3_months,paying_visits_last_6_months,totals_transactionRevenue_last_6_months,paying_visits_2_months_ago,totals_transactionRevenue_2_months_ago,paying_visits_3_months_ago,totals_transactionRevenue_3_months_ago,paying_visits_4_months_ago,totals_transactionRevenue_4_months_ago,target
0,9499785259412240342,Firefox,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3696906537737368442,Chrome,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5688512451361930466,Chrome,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9716453263501147451,Safari,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5330453591145100432,Chrome,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
train.target.value_counts().head()

0.000000     376982
18.197412         3
17.936010         3
17.329739         3
16.648136         3
Name: target, dtype: int64

In [13]:
train[train.paying_visits_last_6_months==15]
#interesting visitor with fullVisitorId = 6760732402251466726

,fullVisitorId,device_browser,paying_visits_last_1_months,totals_transactionRevenue_last_1_months,paying_visits_last_3_months,totals_transactionRevenue_last_3_months,paying_visits_last_6_months,totals_transactionRevenue_last_6_months,paying_visits_2_months_ago,totals_transactionRevenue_2_months_ago,paying_visits_3_months_ago,totals_transactionRevenue_3_months_ago,paying_visits_4_months_ago,totals_transactionRevenue_4_months_ago,target
7598,6760732402251466726,Chrome,0.0,0.0,4.0,1.144360e+09,15.0,4.330920e+09,0.0,0.0,4.0,1.144360e+09,0.0,0.0,0.0

In [14]:
trainCSV[trainCSV.fullVisitorId=='6760732402251466726'].sort_values(by='date')

,fullVisitorId,date,device_browser,paying_visits,totals_transactionRevenue
898126,6760732402251466726,2016-08-02 22:22:24,Chrome,0.0,0.0
871295,6760732402251466726,2016-08-12 16:44:04,Chrome,0.0,0.0
871809,6760732402251466726,2016-08-12 18:23:18,Chrome,0.0,0.0
871250,6760732402251466726,2016-08-12 21:12:54,Chrome,0.0,0.0
755505,6760732402251466726,2016-08-15 02:14:58,Chrome,0.0,0.0
1241957,6760732402251466726,2016-08-15 15:38:51,Chrome,0.0,0.0
1241789,6760732402251466726,2016-08-15 16:36:12,Chrome,0.0,0.0
177235,6760732402251466726,2016-08-16 15:06:23,Chrome,1.0,393650000.0
176000,6760732402251466726,2016-08-16 16:47:54,Chrome,0.0,0.0
1630642,6760732402251466726,2016-08-18 16:15:35,Chrome,0.0,0.0
148218,6760732402251466726,2016-08-22 15:55:34,Chrome,1.0,571930000.0
202303,6760732402251466726,2016-08-24 15:49:49,Chrome,1.0,363340000.0
845745,6760732402251466726,2016-08-25 18:29:53,Chrome,1.0,102660000.0
845957,6760732402251466726,2016-08-25 22:13:30,Chrome,0.0,0.0
561498,6760732402251466726,2016-08-26 21:37:02,Chrome,0.0,0.0
692017,6760732402251466726,2016-08-30 22:33:02,Chrome,0.0,0.0
108887,6760732402251466726,2016-08-31 15:08:07,Chrome,1.0,315760000.0
369977,6760732402251466726,2016-09-06 15:57:51,Chrome,0.0,0.0
370511,6760732402251466726,2016-09-06 20:00:14,Chrome,1.0,682910000.0
1673942,6760732402251466726,2016-09-07 21:21:55,Chrome,1.0,69780000.0
1674063,6760732402251466726,2016-09-07 22:14:38,Chrome,1.0,69780000.0
1648673,6760732402251466726,2016-09-08 14:59:03,Chrome,1.0,36210000.0
1648437,6760732402251466726,2016-09-08 18:30:46,Chrome,0.0,0.0
510369,6760732402251466726,2016-09-13 18:43:21,Chrome,1.0,154370000.0
752759,6760732402251466726,2016-09-14 20:57:56,Chrome,1.0,426170000.0
1398785,6760732402251466726,2016-09-26 16:11:33,Chrome,0.0,0.0
1398583,6760732402251466726,2016-09-26 21:35:11,Chrome,0.0,0.0
690232,6760732402251466726,2016-11-02 16:36:55,Chrome,0.0,0.0
1164313,6760732402251466726,2016-11-08 15:53:46,Chrome,1.0,49360000.0
780271,6760732402251466726,2016-11-15 18:35:29,Chrome,0.0,0.0
1079223,6760732402251466726,2016-11-16 17:27:25,Chrome,1.0,431500000.0
314509,6760732402251466726,2016-11-17 15:48:38,Chrome,1.0,24000000.0
314508,6760732402251466726,2016-11-17 19:13:14,Chrome,0.0,0.0
32665,6760732402251466726,2016-11-18 18:01:02,Chrome,1.0,639500000.0
151578,6760732402251466726,2016-11-29 19:05:38,Chrome,0.0,0.0
152892,6760732402251466726,2016-11-29 21:04:55,Chrome,0.0,0.0
496385,6760732402251466726,2016-12-02 19:00:24,Chrome,0.0,0.0
740524,6760732402251466726,2016-12-05 16:36:54,Chrome,0.0,0.0
661533,6760732402251466726,2016-12-07 17:17:47,Chrome,0.0,0.0
1663599,6760732402251466726,2016-12-29 17:36:03,Chrome,0.0,0.0

In [15]:
%%time
train_e = label_encode_object_dtypes(encoder_trainer = train, df_to_encode = train)

CPU times: user 11.4 s, sys: 157 ms, total: 11.6 s
Wall time: 11.8 s

In [16]:
train_e.shape

(377131, 15)

In [17]:
train_e.head()

,fullVisitorId,device_browser,paying_visits_last_1_months,totals_transactionRevenue_last_1_months,paying_visits_last_3_months,totals_transactionRevenue_last_3_months,paying_visits_last_6_months,totals_transactionRevenue_last_6_months,paying_visits_2_months_ago,totals_transactionRevenue_2_months_ago,paying_visits_3_months_ago,totals_transactionRevenue_3_months_ago,paying_visits_4_months_ago,totals_transactionRevenue_4_months_ago,target
0,0.0,0.002915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.010451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.010451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.001775,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.010451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
train_e.paying_visits_last_6_months.value_counts()

0.0     372291
1.0       4410
2.0        316
3.0         69
4.0         23
5.0         10
6.0          5
7.0          3
8.0          2
15.0         1
9.0          1
Name: paying_visits_last_6_months, dtype: int64

In [19]:
trainCSV[trainCSV.fullVisitorId=='6760732402251466726']

,fullVisitorId,date,device_browser,paying_visits,totals_transactionRevenue
32665,6760732402251466726,2016-11-18 18:01:02,Chrome,1.0,639500000.0
108887,6760732402251466726,2016-08-31 15:08:07,Chrome,1.0,315760000.0
148218,6760732402251466726,2016-08-22 15:55:34,Chrome,1.0,571930000.0
151578,6760732402251466726,2016-11-29 19:05:38,Chrome,0.0,0.0
152892,6760732402251466726,2016-11-29 21:04:55,Chrome,0.0,0.0
176000,6760732402251466726,2016-08-16 16:47:54,Chrome,0.0,0.0
177235,6760732402251466726,2016-08-16 15:06:23,Chrome,1.0,393650000.0
202303,6760732402251466726,2016-08-24 15:49:49,Chrome,1.0,363340000.0
314508,6760732402251466726,2016-11-17 19:13:14,Chrome,0.0,0.0
314509,6760732402251466726,2016-11-17 15:48:38,Chrome,1.0,24000000.0
369977,6760732402251466726,2016-09-06 15:57:51,Chrome,0.0,0.0
370511,6760732402251466726,2016-09-06 20:00:14,Chrome,1.0,682910000.0
496385,6760732402251466726,2016-12-02 19:00:24,Chrome,0.0,0.0
510369,6760732402251466726,2016-09-13 18:43:21,Chrome,1.0,154370000.0
561498,6760732402251466726,2016-08-26 21:37:02,Chrome,0.0,0.0
661533,6760732402251466726,2016-12-07 17:17:47,Chrome,0.0,0.0
690232,6760732402251466726,2016-11-02 16:36:55,Chrome,0.0,0.0
692017,6760732402251466726,2016-08-30 22:33:02,Chrome,0.0,0.0
740524,6760732402251466726,2016-12-05 16:36:54,Chrome,0.0,0.0
752759,6760732402251466726,2016-09-14 20:57:56,Chrome,1.0,426170000.0
755505,6760732402251466726,2016-08-15 02:14:58,Chrome,0.0,0.0
780271,6760732402251466726,2016-11-15 18:35:29,Chrome,0.0,0.0
845745,6760732402251466726,2016-08-25 18:29:53,Chrome,1.0,102660000.0
845957,6760732402251466726,2016-08-25 22:13:30,Chrome,0.0,0.0
871250,6760732402251466726,2016-08-12 21:12:54,Chrome,0.0,0.0
871295,6760732402251466726,2016-08-12 16:44:04,Chrome,0.0,0.0
871809,6760732402251466726,2016-08-12 18:23:18,Chrome,0.0,0.0
898126,6760732402251466726,2016-08-02 22:22:24,Chrome,0.0,0.0
1079223,6760732402251466726,2016-11-16 17:27:25,Chrome,1.0,431500000.0
1164313,6760732402251466726,2016-11-08 15:53:46,Chrome,1.0,49360000.0
1241789,6760732402251466726,2016-08-15 16:36:12,Chrome,0.0,0.0
1241957,6760732402251466726,2016-08-15 15:38:51,Chrome,0.0,0.0
1398583,6760732402251466726,2016-09-26 21:35:11,Chrome,0.0,0.0
1398785,6760732402251466726,2016-09-26 16:11:33,Chrome,0.0,0.0
1630642,6760732402251466726,2016-08-18 16:15:35,Chrome,0.0,0.0
1648437,6760732402251466726,2016-09-08 18:30:46,Chrome,0.0,0.0
1648673,6760732402251466726,2016-09-08 14:59:03,Chrome,1.0,36210000.0
1663599,6760732402251466726,2016-12-29 17:36:03,Chrome,0.0,0.0
1673942,6760732402251466726,2016-09-07 21:21:55,Chrome,1.0,69780000.0
1674063,6760732402251466726,2016-09-07 22:14:38,Chrome,1.0,69780000.0

In [21]:
train_e.target.value_counts().head()

0.000000     376982
18.197412         3
17.936010         3
17.329739         3
16.648136         3
Name: target, dtype: int64

In [22]:
#corresponding with the interesting visitor with fullVisitorId = 6760732402251466726
train_e.iloc[7598]

fullVisitorId                              0.000000e+00
device_browser                             1.045076e-02
paying_visits_last_1_months                0.000000e+00
totals_transactionRevenue_last_1_months    0.000000e+00
paying_visits_last_3_months                4.000000e+00
totals_transactionRevenue_last_3_months    1.144360e+09
paying_visits_last_6_months                1.500000e+01
totals_transactionRevenue_last_6_months    4.330920e+09
paying_visits_2_months_ago                 0.000000e+00
totals_transactionRevenue_2_months_ago     0.000000e+00
paying_visits_3_months_ago                 4.000000e+00
totals_transactionRevenue_3_months_ago     1.144360e+09
paying_visits_4_months_ago                 0.000000e+00
totals_transactionRevenue_4_months_ago     0.000000e+00
target                                     0.000000e+00
Name: 7598, dtype: float64